@tailwind base;
@tailwind components;
@tailwind utilities;

.footer_bg{
    background-image: url("../../public/assets/footerBg.png");
    background-color: #3C1D59;
}
.contact-bg{
    background-image: url("../../public/assets/contactBg.png");
    height: 686px;
}
.Clienttestimonials{
    background-image: url("../../public/assets/clienttestimonials.png");
    background-color: #3C1D59;
}


